.cell{
            height: 100%;
            width: 100%;
            background-color: transparent;
            border: solid 0.5px rgb(28, 192, 97);
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 0.75rem;
            cursor: pointer;
            color: white;
        }

.starterCell{
    background-color: red;
}

.goalCell{
    background-color: blue;
}

.walked{
    background-color: green;
}

.tracePath{
    background-color: yellow;
}

.obstacle{
    background-color: white;
}