@use 'index' as *;


.rows-columns-input-section{
    width: fit-content;
    height: 30rem;
    color: rgba(66,201,32,1);
    font-family: $font-bytesized;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    //background-color: purple;
    transition: ease 0.5s;
}

.title-and-definition-box{
    width: 100%;
    h1{
        background-color: red;
        margin: 0;
    }

    display: flex;
    justify-content: flex-start;
    gap: 0;
    margin: 0;
    align-items: center;    
    flex-direction: column;
    //background-color: purple;
}

.input-box{
    width: fit-content;
    height: fit-content;
    border: none;
    margin-left: .5rem;
    //background-color: red;

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    .real-input{
        width: 10rem;
        height: 2rem;
        border: solid 1px white;
        border-radius: 0.5rem;
        margin-top: 0.5rem;
        padding-left: 0.5rem;
        outline: none;
        background-color: transparent;
        color: white;
        font-size: 1rem;
        -moz-appearance: textfield;
        
    }
}

  
