<section 
  class="rows-columns-input-section" 
  #inputSection id="inputSection">    
    <span class="title-and-definition-box">
      <h1>GRID SETTINGS</h1>
    </span>

      <span class="input-box">Introduce the number of rows

        <input 
        type="number" 
        id="rowsInput" 
        [(ngModel)]="row"
        min="1" max="100" 
        placeholder="max 100 length" 
        class="real-input" >
      </span>

      <span class="input-box">Introduce the number of columns
        <input 
        type="number" 
        id="columnsInput" 
        [(ngModel)]="column"
        min="1" max="100" 
        placeholder="max 100 length" 
        class="real-input">
      </span>

      <app-generate-grid-button [column]="column" [row]="row"></app-generate-grid-button>
      
    </section>