<section class="left-controller">
    <div class="button-diamond">
        <app-obstacle-button class="btn y"></app-obstacle-button>
        <app-starter-point-button class="btn b"></app-starter-point-button>
        <app-goal-point-button class="btn x"></app-goal-point-button>
        <app-find-button class="btn a"></app-find-button>
    </div>

    <div class="bottom-actions">
        <app-grid-button class="rect-btn"></app-grid-button>
        <button class="rect-btn">MAZE</button>
        <button class="rect-btn">GRID</button>
    </div>
</section>