@use 'index' as *;

.right-controller {
  min-height: 513px;
  min-width: 264px;
  background: $color-pad;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px 0;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  
  .d-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    .pad {
      background: $color-chassis;
      width: 40px;
      height: 40px;
      
      &.up { grid-area: 1 / 2; border-radius: 5px 5px 0 0; }
      &.left { grid-area: 2 / 1; border-radius: 5px 0 0 5px; }
      &.center { grid-area: 2 / 2; }
      &.right { grid-area: 2 / 3; border-radius: 0 5px 5px 0; }
      &.down { grid-area: 3 / 2; border-radius: 0 0 5px 5px; }
    }
  }
  
  .restart-btn {
    @include neomorphic-button;
    border-radius: 10px;
    padding: 5px 20px;
    font-size: 10px;
  }
}